Repository GaryOcean428/crazy-gary: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, black --line-length 88, flake8

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write",
    "git add"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write",
    "git add"
  ],
  "*.{css,scss,less}": [
    "prettier --write",
    "git add"
  ],
  "package.json": [
    "prettier --write",
    "git add"
  ],
  "*.py": [
    "black --line-length 88",
    "flake8",
    "git add"
  ]
}

feat: implement backend security and monitoring systems
  apps/api/src/middleware/security.py
Due: black --line-length 88, flake8

feat: implement comprehensive frontend component library and testing
  apps/web/src/components/error-boundary.tsx
  apps/web/tsconfig.json
  apps/web/vite.config.ts
Due: eslint --fix, prettier --write

feat: implement comprehensive documentation and developer experience
  docs/CONTRIBUTION_GUIDELINES.md
  docs/DEVELOPER_ONBOARDING_GUIDE.md
Due: prettier --write

Fix Railway deployment failure: Resolve Flask context errors in security middleware
  apps/api/src/middleware/security.py
Due: black --line-length 88, flake8

Fix security middleware import errors for Railway deployment
  apps/api/src/middleware/security.py
Due: black --line-length 88, flake8

Fix Railway deployment: Set correct PYTHONPATH for src module import
  apps/api/Procfile
Due: none

Fix Railway deployment: Use single railpack.json with correct PYTHONPATH for src module
  apps/api/railpack.json
Due: prettier --write

Remove conflicting railpack.json files - keeping only API service config
  apps/web/railpack.json
  railpack.json
Due: prettier --write

fix(railway): remove conflicting railpack configs
  apps/web/railpack.json
  railpack.json
Due: prettier --write

fix(railway): mono-service config with frontend build
  apps/api/railpack.json
Due: prettier --write

fix(railway): add required root railpack.json for deployment
  railpack.json
Due: prettier --write

Fix Railway deployment: Single railpack.json with comprehensive Flask+React build config
  railpack.json
Due: prettier --write

fix(deployment): remove conflicting railpack.json
  apps/api/railpack.json
Due: prettier --write

fix(railpack): remove empty inputs array from install step
  railpack.json
Due: prettier --write

fix(railpack): use uv pip and change to apps/api directory
  railpack.json
Due: prettier --write
